body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.theme-button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 8px 16px;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
  transition: all 150ms ease-in-out;
}

.theme-button:hover {
  cursor: pointer;
  border: none;
  background: #272044;
  color: white;
  border-radius: 10px;
}

.dark {
  background: #272044;
}

.dark .theme-button {
  background: #272044;
  color: white;
  border-radius: 10px;
  border: none;
}

.dark .theme-button:hover {
  background: white;
  color: #272044;
  border-radius: 10px;
  border: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(
      rgba(60, 26, 63, 0.4),
      rgba(60, 26, 63, 0.6)
    ),
    url(../images/trioplushes-v2-bg-image.jpg);
  filter: brightness(134%) contrast(70%) grayscale(60%) saturate(144%);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f8f8f8;
  text-align: center;
  padding: 200px 0px;
  border-radius: 10px;
}

header h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 14px 30px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: #f8f8f8;
}

header a:hover {
  color: #f8f8f8;
  background: #272044;
}

main {
  background-color: white;
}

.dark main {
  background-color: #272044;
}

.dark h2 {
  color: #f8f8f8;
}

.dark h3 {
  color: #f8f8f8;
}

.dark .card-body {
  color: #f8f8f8;
  background: #272044;
}

.dark .card {
  background: #272044;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.dark main p {
  color: #f8f8f8;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.text-center {
  text-align: center;
}

.secondary {
  background: #f8f8f8;
  border-radius: 10px;
}

.dark .secondary {
  background: #181525;
}

.grid-4-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-header.grid {
  grid-gap: 0;
}

.photo-group {
  margin: 30px 0;
}

.card-footer a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #f8f8f8;
  padding: 14px 30px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: #462cb2;
}

.card-footer a:hover {
  color: #462cb2;
  background: white;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
footer {
  background-image: linear-gradient(
      rgba(104, 79, 106, 0.9),
      rgba(60, 26, 63, 0.9)
    ),
    url(../images/onepice-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f8f8f8;
  border-radius: 10px;
}

a {
  font-weight: 700;
  color: #a794bc;
  text-decoration: none;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.image-ace {
  width: 80%;
  display: block;
  border-radius: 10px;
}

.grid-3-columns {
  grid-template-columns: 1fr 2fr 1fr;
}

footer p {
  font-size: 14px;
  opacity: 0.5;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 5px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h3 {
    font-size: 12px;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}
